<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="agentCheck" transaction-type="RESOURCE_LOCAL">

        <class>com.company.agentcheck.entity.Request</class>
        <class>com.company.agentcheck.entity.Question</class>
        <class>com.company.agentcheck.entity.Answer</class>
        <class>com.company.agentcheck.entity.AnswerLine</class>
    </persistence-unit>
</persistence>
